/*
 * Travel Experts Project #2 - C#, ASP.NET, SQL Server
 * CSS Stylesheet - Main
 * Created By: John Nguyen (Team 3)
 * Created On: January 20, 2015
 */
html {
    margin: 0;
    padding: 0;
    background-color: #eee;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
body {
    font-family: Calibri,Corbel,sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 880px;
    height: 100%;
    display: block;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
header {
    background: #fff;
    border: 2px solid #2F73C1;
    clear: both;
}
.login_panel {
    display: block;
    position: relative;
    top: 0;
    left: 710px;
    background: #2F73C1;
    width: 115px;
    height: 30px;
    text-align: left;
    vertical-align: middle;
    line-height: 30px;
    padding-left: 14px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}
.login_panel a:link,a:visited {
    color: white;
}
.login_panel a:hover {
    color: lightgrey;
}
#login {
    display: inline;
    visibility:visible;
}
#logout {
    display: none;
    visibility:hidden;
}

.nav ul {
    list-style: none;
    background-color: #2F73C1;
    text-align: left;
    padding: 0 20px;
    margin: 0;
}
.nav li {
    margin: 0;
    padding: 0 16px;
    display: inline-block;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
}
.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}
.nav li:hover {
    background-color: #A6C6EA;
}
.nav li.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}
section {
    padding: 10px 10px 30px 10px;
    display:block;
    overflow: hidden;
    background: rgba(255, 255, 255,0.9);
    border: 2px solid #2F73C1;
    height: 90%;
}
h1 {
    font-size: 3.2em;
    font-weight:100 bold;
    margin:0;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
}
h2 {
    font-size: 2.5em;
    font-weight: 100 bold;
    margin-bottom: -14px;
    margin-top: 5px;
    padding: 0;
}
h3 {
    margin: 5px 0px 2px 10px;
    padding: 0;
    text-align: left;
}
.custdetails {
    background-color: #2F73C1;
    color: white;
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
    width: 140px;
    border-bottom: 1px solid white;
}
.custinfo {
    padding-left: 20px;
    border: 1px solid #2F73C1;
}
.pkgheader {
    background-color: #2F73C1;
    color: white;
    text-decoration:none;
    font-weight: bold;
    padding: 0 10px;
}
.pkgborder {
    border: 1px solid #2F73C1;
}
a {
    text-decoration: none;
}

footer {
    background-color: #2F73C1;
    display:block;
    position:fixed;
    bottom: 0;
    width: 880px;
    margin-bottom: -2px;
    height: 30px;
}
footer p {
    text-align: center;
    color: white;
    margin-top: 4px;
}

.textbox {
    width: 245px;
    border: solid 1px #ccc;
    height: 20px;
    padding: 4px 10px;
    margin: 3px 5px;
    background: #fff;
    background: -moz-linear-gradient(top, #ccc 0%, #fff 10%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccc), color-stop(6%, #fff));
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 0 #f2f2f2;
    -webkit-box-shadow: 0 1px 0 #F2F2F2;
    font-family: sans-serif;
    font-size: 0.9em;
    color: #222;
}

.textbox:focus {
    background: #ddd;
    background: -moz-linear-gradient(top, #ddd 0%, #eee 15%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(15%, #eee));
    outline: 0;
}
.textarea {
    border: solid 1px #ccc;
    padding: 4px 10px;
    margin: 9px 5px;
    background: #fff;
    background: -moz-linear-gradient(top, #ccc 0%, #fff 1%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccc), color-stop(1%, #fff));
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 0 #f2f2f2;
    -webkit-box-shadow: 0 1px 0 #F2F2F2;
    font-family: sans-serif;
    font-size: 0.9em;
    color: #222;
    resize: none;
}
.textarea:focus {
    background: #fff;
    background: -moz-linear-gradient(top, #ddd 0%, #eee 3%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(3%, #eee));
    outline: 0;
}
.dropdown {
    width: 205px;
    border: solid 1px #ccc;
    height: 30px;
    padding: 4px 0px 4px 10px;
    margin: 3px 5px;
    background: #fff;
    background: -moz-linear-gradient(top, #ccc 0%, #fff 6%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccc), color-stop(6%, #fff));
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 0 #f2f2f2;
    -webkit-box-shadow: 0 1px 0 #F2F2F2;
    color: #222;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#555;
	font-size:15px;
	font-weight:bold;
	line-height:40px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
    padding: 0 20px;
}
.button:hover {
	background-color:#dfdfdf;
    cursor: pointer;
}
 .button:active {
	position:relative;
	top:1px;
}