body {
    padding-bottom: 40px;
}
.pkgheader {
    background-color: #2F73C1;
    color: white;
    text-align: center;
    padding: 0 15px;
    font-weight: bold;
}
.h2 {
    font-size: 1.5em;
    font-weight:100 bold;
    margin-bottom: -14px;
    padding: 0;
}
